[core]
	excludesfile = ~/.gitignore_global
	editor = "nvim"
	pager = diff-so-fancy | less --tabs=4 -RF

[user]
	name = Tim Vink
	email = vinktim@gmail.com
	signingkey = 629C45DA26A97B48

# Conditional config
[includeIf "gitdir:~/workspace/work/"]
    path = ~/.gitconfig-work

[push]
	autoSetupRemote = true

[pull]
	rebase = false

[format]
	pretty = format:%C(auto)%h %d%Creset %s%n%Cgreen%ad%Creset %aN <%aE>%n

[interactive]
	diffFilter = diff-so-fancy --patch

[gpg]
    program = /opt/homebrew/bin/gpg

[commit]
	gpgsign = true