[core]
	excludesfile = ~/.gitignore_global
	editor = "vim"
	pager = diff-so-fancy | less --tabs=4 -RF

[user]
	name = Tim Vink
	email = vinktim@gmail.com

# Conditional config
[includeIf "gitdir:~/workspace/work/"]
    path = ~/.gitconfig-work

[push]
	autoSetupRemote = true

[pull]
	rebase = false

[format]
	pretty = format:%C(auto)%h %d%Creset %s%n%Cgreen%ad%Creset %aN <%aE>%n

[interactive]
	diffFilter = diff-so-fancy --patch